/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background: #fbf5f3;
  padding: 15px;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

/* Main CSS */
.grid-wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.grid-wrapper > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-wrapper {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 160px;
  grid-auto-flow: dense;
}
.grid-wrapper .tall {
  grid-row: span 2;
  grid-column: span 4;
}
.grid-wrapper .big {
  grid-column: span 2;
  grid-row: span 2;
}
.grid-wrapper .huge {
  grid-column: span 2;
  grid-row: span 6;
}

.content {
  background: rgba(100, 197, 182, 0.8);
  color: #fbf5f3;
  font-family: Helvetica, sans-serif;
  width: 100%;
  padding: 5px 10px;

  /* Trial styles */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.subtitle {
  font-size: 14px;
}
